.form-container {
  max-width: 800px;
  margin-top: 80px;
  margin-bottom: 30px;

  @media only screen and (min-width: 1025px) {
    margin-top: 95px;
  }

  .eight {
	  width: 100%;
    background: #fff;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.08);

    h2 {
    	margin: 10px 0 30px;
    	color: #555;
    }

    label, em {
    	color: #AAA;
    }

    .email-label:before {
    	content: "or "
    }

    input[type=text], input[type=email], input[type=password] {
    	margin-bottom: 20px;
    }

    input[type=submit] {
    	margin: 40px 0 30px;
    }

    a {
    	color: #AAA;
    	text-decoration: underline;

    	&:hover, &:focus {
    		color: $link-color
    	} 
    }
  }  
}