$primary-color: #4444FF;
$headline-color: #777;


$text-color: #999;
$accent-color: darken($primary-color, 25%);
$button-hover: darken($primary-color, 15%);
$link-color: #0E5BE2;
$link-color-hover: darken($link-color, 10%);
$selection-color: #EEE;
$duration: .4s;
$nav-height: 65px;