$primary-color: #4444FF;
$headline-color: #777;
$text-color: #777;
$accent-color: darken($primary-color, 25%);
$link-color: #0E5BE2;
$link-color-hover: darken($link-color, 10%);
$placeholder-color: #BBB;
$selection-color: #CCC;
$facebook: #3B5998;
$twitter: #00ACED;
$google: #DD4B39;
$youtube: #BB0000;
$duration: .4s;
$nav-height: 65px;